parameters:
    level: 8
    paths:
        - app/
        - tests/
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Call to an undefined static method App\\Models\\User::#'
    
    # Для Laravel
    bootstrapFiles:
        - bootstrap/app.php