.dashboard-page {
  width: 100%;
}

.dashboard__content {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.dashboard__welcome {
  display: flex;
  flex-direction: column;
  text-align: left;
  grid-column: span 5;
  color: var(--color-white);
}

.dashboard__welcome h1 {
  font-size: 2rem;
  margin: 0;
  color: var(--color-white);
}

.dashboard__nav {
  margin-top: 1.5em;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.dashboard__nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--color-grey);
  color: var(--color-white);
  gap: 10px;
  max-width: 100%;
  text-decoration: none;
  grid-column: span 4 !important;
}

.dashboard__nav-icon {
  padding: 20px;
  background: var(--background-logo);
  border-radius: 20px;
  color: var(--color-white);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard__nav-info h2 {
  font-weight: 500;
}

.dashboard__stats {
  margin-top: 1.5em;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.dashboard__stats-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 10px;
  color: var(--color-white);
  gap: 10px;
  max-width: 100%;
  height: 150px;
  text-decoration: none;
  grid-column: span 4;
  background: var(--background-logo);
}

.dashboard__stats__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  gap: 10px;
  max-width: 100%;
  height: 150px;
  text-decoration: none;
}

.dashboard__stats__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--color-white);
  max-width: 100%;
  height: 150px;
  text-align: left;
}

.dashboard__stats__number {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-white);
}

.dashboard__stats__comment p {
  font-size: 1rem;
}

.dashboard__storage {
  margin-top: 1.5em;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.dashboard__storage-usage {
  grid-column: span 6;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 10px;
  background: var(--color-black);
  color: var(--color-white);
  height: 350px;
}

.dashboard__storage-timeline {
  grid-column: span 6;
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 10px;
  background: var(--color-black);
  color: var(--color-white);
  height: 350px;
}

.dashboard__recent-uploads {
  margin-top: 1.5em;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  background: var(--color-black);
  color: var(--color-white);
  height: fit-content;
}

.dashboard__recent-uploads__header {
  grid-column: span 12;
  text-align: left;
}

.dashboard__recent-uploads-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
  gap: 5px;
  grid-column: span 8;
}

.dashboard__recent-uploads h2 {
  margin: 0;
}

p {
  font-size: 0.8rem;
}

.dashboard__storage-usage__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  gap: 10px;
}

.dashboard__storage-timeline__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  gap: 10px;
}

.dashboard__storage-timeline-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
  gap: 5px;
}

.dashboard__storage-timeline__body,
.dashboard__storage-usage__body {
  margin-top: -10px;
}

.storage-legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-white);
  gap: 20px;
  margin-top: 2em;
}

.legend-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-white);
  gap: 10px;
}

.legend-item::before {
  content: '';
  width: 10px;
  height: 10px;
  background: var(--background-logo);
  border-radius: 50%;
}

.dashboard__storage-timeline__content {
  margin-top: 30px;
  margin-left: -20px;
}
