:root {
  --background-color-white: linear-gradient(to bottom right, #f8fafc, #eff6ff, #eef2ff);
  --background-color-black: linear-gradient(to bottom right, #0f172a, #1e3a8a, #312e81);
  --background-logo: linear-gradient(to right, #0891b2, #2563eb);
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-text: #242424;
  font-family: Google Sans;
  --font-family: 'Google Sans';
  --background-color-header: #0f172a;
  --background-color-main: linear-gradient(to bottom right, #0f172a, #0d1b3f, #0f172a);
  font-size: calc(14px + 0.3vw);
  --color-grey: #313644;
  --color-input: #161616;
  --color-blue: #0891b2;
  --color-border-grey: #6b7280;
  --color-red: #ff6b6b;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  box-sizing: border-box;
  height: 100%;
}

h1 {
  font-size: 2rem;
  margin: 0;
}

h2 {
  font-size: 1.1rem;
  margin: 0;
}
