.upload__features {
  grid-column: 9/-1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-white);
  gap: 20px;
  border-radius: 10px;
  border: 1px solid var(--color-blue);
  height: fit-content;
}

.upload__features__title {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0;
}

.upload__features__cards {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.upload__features__card {
  flex: 1;
  min-width: 150px;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid var(--color-grey);
  transition: all 0.3s;
}

.upload__features__card h4 {
  font-size: 0.85rem;
  color: var(--color-white);
  margin: 0;
  font-weight: 500;
}

.upload__features__card p {
  font-weight: 700;
  color: var(--color-white);
  margin: 0;
}

.upload__features__icon {
  color: var(--color-blue);
  width: 20px;
  height: 20px;
}
.upload__features__note {
  font-size: 0.85rem;
  color: var(--color-border-grey);
  margin-top: 5px;
}
