.search-page {
  width: 100%;
  min-height: 100vh;
}

.search-page__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-white);
}

.search-page__welcome {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: var(--color-white);
}

.search-input-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: stretch;
  width: 100%;
}

.search-button {
  padding: 0.75rem;
  background-image: var(--background-logo);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.search-input {
  box-sizing: border-box;
  padding: 20px;
  flex: 1;
}

.filter-button {
  padding: 0.75rem;
  background-image: var(--background-logo);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
}

.search-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}
