.sidebar {
  background-color: var(--background-color-header);
  color: var(--color-white);
  position: fixed;
  top: 0px;
  z-index: 0;
  height: 100vh;
  backdrop-filter: blur(24px);
  border-right: 1px solid var(--color-grey);
  font-weight: 700;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-width: 200px;
  height: 100vh;
}

.sidebarContent {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.sidebarMenu {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.sidebarItem {
  padding: 0 1rem;
  cursor: pointer;
}

.sidebarLink {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 1rem;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.sidebarLink:hover {
  background: #0a101c;
  transform: translateX(5px);
}

.sidebarLink:focus {
  background: var(--background-logo);
  color: var(--background-color-header);
}

.sidebarText {
  white-space: nowrap;
}

.storageInfo {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-grey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.storageInfoIcon {
  color: var(--color-blue);
}

.storageInfoHeader {
  display: flex;
  justify-content: row;
  gap: 1rem;
  align-items: flex-end;
}

.storageInfoText {
  margin: -2px;
  padding: 0;
}

.storageInfoBar {
  height: 8px;
  background: var(--color-grey);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.storageInfoBarProgress {
  height: 100%;
  background: var(--background-logo);
}

.storageInfoStats {
  font-size: 0.775rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--color-border-grey);
  display: flex;
  justify-content: space-between;
}

.storagInfoStatsPercent {
  font-size: 0.875rem;
  color: var(--color-white);
  font-size: 1rem;
}

.storageInfoNote {
  font-size: 0.875rem;
  color: var(--color-border-grey);
  font-weight: 500;
}
